@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Opciones de Modificación</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="bs-callout bs-callout-danger"> 
                            <h3>Categoria</h3>
                            <p>Calificación, selecccion y organización de los productos.</p>
                            <p class="text-right"><a href="../../Administracion/Categoria"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ingresar</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bs-callout bs-callout-warning">
                            <h3>Productos</h3> 
                            <p>Nombre de productos con sus caracteristicas y forma de almacenaje.</p>
                            <p class="text-right"><a href="../../Administracion/Producto"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ingresar</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">  
                        <div class="bs-callout bs-callout-info">
                            <h3>Usuarios</h3> 
                            <p>Administracion de datos y roles de los usuarios del sistema</p>
                            <p class="text-right"><a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ingresar</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bs-callout bs-callout-danger">
                            <h3>Region/Ciudad/Comuna</h3>
                            <p>Base de datos de Regiones con sus respectivas Ciudades y Comunas.</p>
                            <p class="text-right"><a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ingresar</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bs-callout bs-callout-warning">
                            <h3>Clientes</h3>
                            <p>Cada cliente con sus datos obligatorios para contacto y SII.</p>
                            <p class="text-right"><a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ingresar</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bs-callout bs-callout-info">
                            <h3>Lugares de Despacho</h3>
                            <p>Base de datos de los despacho de cada uno de los Clientes.</p>
                            <p class="text-right"><a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ingresar</a></p>
                        </div>
                    </div>
                    </div>
            </div>
        </div>

    </div>
</div>
